EXPO_PUBLIC_SUPABASE_URL=Your_Supabase_URL_Here
EXPO_PUBLIC_SUPABASE_KEY=Your_Supabase_Public_Anon_Key_Here
EXPO_PUBLIC_PIX_KEY=Your_Pix_Key_Here
EXPO_PUBLIC_PIX_NAME=Your_Name_Here
EXPO_PUBLIC_PIX_CITY=Your_City_Here
